<div class="liste">
  <ion-card>
    <ion-row>
      <ion-list>
        <ion-item class="item">
          <ion-img src="{{ 'data:image/*;base64,'+ produitList.image }}" class="w-25" height="20" ></ion-img>
          <div class="w-75 text-center ml-3"> {{ produitList.nom }} <br> {{ produitList.prix | currency: 'fcfa' }} </div>
          <button class="bouton w-25 h-100" (click)="redirectTo(produitList)"> <ion-icon name="chevron-forward"></ion-icon> </button>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-card>
</div>
