<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="fast-food" slot="start"></ion-icon>
        <ion-label>Nos Menus</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="server" slot="start"></ion-icon>
        <ion-label>Nos Burgers</ion-label>
      </ion-item>
      <ion-item>
        <ion-list>
          <ion-label>
          <ion-icon name="apps-sharp" slot="start"></ion-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nos Compléments</ion-label>
          <ion-item>
            <ion-icon name="pizza-sharp" slot="start"></ion-icon>
            <ion-label>Nos Frites</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="beer-sharp" slot="start"></ion-icon>
            <ion-label>Nos Boissons</ion-label>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-item>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
        <ion-label (click)="showClient()" >Mon Profil</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="shapes-sharp" slot="start"></ion-icon>
        <ion-label>Mes Commandes</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="remove-circle-sharp" slot="start"></ion-icon>
        <ion-label (click)="logout()"> Deconnexion </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header
    parallax
    imageUrl="https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/misc/49/7549c07d13509384.jpg"
    height="400"
    bgPosition="top"
  >
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-light">Brsil Burgers App</ion-title>
    </ion-toolbar>
    
  </ion-header>
  
  <ion-content class="">
    
    <ion-segment class="bg-warning mt-3">
      <ion-segment-button id="1" (click)="onViewCatalogue($event)">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button id="2" (click)="onViewCatalogue($event)">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    
    <!-- Affichage catalogue -->
    <ion-title class="titreProduit">Nos Menus</ion-title>
    <app-card-produit *ngFor="let item of menus" [product]="item" [isGrid]="isMosaique"></app-card-produit>
  
    <ion-title class="titreProduit">Nos Burgers</ion-title>
    <app-card-produit *ngFor="let item of burgers" [product]="item" [isGrid]="isMosaique"></app-card-produit>
    
  </ion-content>
</div>


