<ion-header
  parallax
  imageUrl="https://downloadwap.com/thumbs2/wallpapers/p2ls/2019/misc/49/7549c07d13509384.jpg"
  height="350"
  bgPosition="top"
>
 <ion-toolbar color="warning">
  <ion-title class="titre text-light text-center">Brazil Burgers</ion-title>
</ion-toolbar>


</ion-header>

<ion-content class="contenu">

  <ion-segment class="bg-warning">
      <ion-segment-button id="1" (click)="onViewCatalogue($event)">
        <ion-icon name="grid"></ion-icon>
      </ion-segment-button>
      <ion-segment-button id="2" (click)="onViewCatalogue($event)">
        <ion-icon name="list"></ion-icon>
      </ion-segment-button>
  </ion-segment>


    <ion-title class="titreProduit">Nos Menus</ion-title>
    <div class="mosaique" *ngIf="isMosaique">
      <app-card-produit *ngFor="let item of menus" [product]="item"></app-card-produit>
    </div>

    <div class="liste" *ngIf="!isMosaique">
      <app-card-produit-list *ngFor="let item of menus" [produitList]="item"></app-card-produit-list>
    </div>

    <ion-title class="titreProduit">Nos Burgers</ion-title>
    <div class="mosaique" *ngIf="isMosaique">
      <app-card-produit *ngFor="let item of burgers" [product]="item"></app-card-produit>
    </div>

    <div class="liste" *ngIf="!isMosaique">
      <app-card-produit-list *ngFor="let item of burgers" [produitList]="item"></app-card-produit-list>
    </div>

</ion-content>
