<ion-header>
  <ion-toolbar color="warning text-light">
    <ion-buttons slot="start">
      <ion-back-button mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title>Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>
      <ion-card>
        <ion-card-header color="info">
          <ion-img class="avatar w-50 m-auto" src="https://img.freepik.com/vecteurs-libre/homme-affaires-caractere-avatar-isole_24877-60111.jpg?w=2000"></ion-img>
        </ion-card-header>
        <ion-card-content>
          <ion-title class="text-center">{{ client?.prenom +' '+ client?.nom }}</ion-title>
        </ion-card-content>
      </ion-card>
    </p>
    <ion-title class="text-center text-light bg-info">
      Vos commandes
    </ion-title>

    <ion-list>
      <app-card-client [client]="client" [commandes]="commandes" [isShow]="isShow"></app-card-client>
    </ion-list>

</ion-content>
